<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/cars.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <title> </title>
  <link rel="stylesheet" href="/assets/css/main.css">
  

</head>

<body>
  <div class="row row__mod">
    <div id="main-sidebar" class="col-1 p-0 col-sidebar text-center d-flex">
      <div class="col-sidebar-inner pt-3 pb-3">
        <div>
          <img src="/assets/images/kotak.png" />
        </div>
        <div class="mt-3">
          <a href="/" class="text-white">
            <img src="/assets/images/Group_2.png" />
            <br>
            Dashboard
          </a>
        </div>
        <div class="mt-3">
          <a class="text-white pointer collapse-side" role="button"><img src="/assets/images/fi_truck.png" />
            <br>
            Cars
          </a>
        </div>
      </div>
      <div id="sidebar-open" class="col-sidebar-collapse bg-light text-start d-none">
        <div class="p-3">
          <img src="/assets/images/Rectangle 62.png">
        </div>
        <ul class="p-0">
          <li>
            <a>
              <div class="p-4 fw-bold text-secondary">CAR</div>
            </a>
          </li>
          <li>
            <a >
              <div class="ps-4 pe-4 pt-3 pb-3 fw-bold active">LIST CAR</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="content-sidebar" class="col-11 col-content p-0">
      <div class="row row__mod">
        <div class="col-12 p-0">
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top col-content">
            <div class="container-fluid">
              <a id="toogle-default" class="navbar-brand collapse-side"><img src="/assets/images/fi_menu.png" /></a>
              <a id="toogle-medium" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><img src="/assets/images/fi_menu.png" /></a>

              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="/assets/images/Rectangle 63.png"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a href="#" class="home_img"> <img src="/assets/images/Group_2.png" />&nbsp;&nbsp;Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/assets/images/fi_truck.png" />&nbsp;&nbsp;Cars
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Car</a></li>
                        <li><a class="dropdown-item" >List Car</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex" id="search-name">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <div class="d-flex ms-3 me-4 pt-2 pb-2">
                  <div class="dropdown mx-auto">
                    <a class="dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <img class="rounded-circle" width="50px" src="/assets/images/avatar.png" />
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" id="logout">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-12 p-0">
          <div class="cars" style="margin-top: 100px;">
            <div id="alert-success" class="alert alert-success d-none" role="alert">
              A simple success alert—check it out!
            </div>
            <div id="alert-danger" class="alert alert-danger d-none" role="alert">
              A simple danger alert—check it out!
            </div>
            <div class="container row row__mod mx-auto">
              <div class="col-12">
                <ul class="list_menu p-0">
                  <li>
                    <a href="cars.html">Cars-> <span>
                        <!-- <img src="/assets/images/chevron-right.png" alt="">\ -->
                      </span></a>
                  </li>
                  <li>
                    <a href="cars.html" class="last_menu">List Car</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h2>List Car</h2>
              </div>
              <div class="col-lg-6 text-end">
                <a class="btn btn-primary btn_anc" href="/create"><img src="/assets/images/fi_plus.png"></span> Add New Car</a>
              </div>
              <div class="col-12">
                <ul class="list_size p-0">
                  <li>
                    <button type="button" class="btn btn-outline-info size">All</button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-outline-info size" value="md">Medium</button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-outline-info size" value="sm">Small</button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-outline-info size" value="lg">Large</button>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <div class="container-fluid">

                                          <div class="row mt-5 g-2"  id="cars-container" style="margin-top: 0; padding-top: 0;">
                  
                                              <% cars.forEach(cars=> { %>
                  
                                                  <div class="col-4">
                  
                                                      <div class="card" >
                  
                                                          <img src="<%= cars.url %>" class="card-img-top p-5" />
                  
                                                          <div class="card-body">
                  
                                                              <p class="card-title" style="font-family: 'IBM Plex Sans'; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; height: 20px;"><%= cars.nama %></p>
                  
                                                              <p class="fw-bold" style="font-family: 'IBM Plex Sans'; font-style: normal; font-weight: 700; font-size: 16px; line-height: 24px; height: 24px; margin-bottom: 8px;">Rp <%= cars.price %>  / hari</p>
                  
                                                              <div class="row my-0 py-0">
                  
                                                                <div class="col-md-1">
                  
                                                                  <img src="images/clock-card.png" style="width: 20px; height: 20px">
                  
                                                                </div>
                  
                                                                <div class="col-md-11">
                  
                                                                  <p style="font-family: 'IBM Plex Sans'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 20px; margin-top: 5px;">&nbsp;&nbsp;Updated at <%= cars.updatedAt %> </p>
                  
                                                                </div>
                  
                                                              </div>
                  
                                                              <div class="row">
                  
                                                                  <div class="col">
                  
                                                                      <button onclick="Swal.fire({
                  
                                                                          title: 'Menghapus Data Mobil',
                  
                                                                          text: 'Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?',
                  
                                                                          type: 'warning',
                  
                                                                          imageUrl :'/images/delete-confirmation.png',
                  
                                                                          showCancelButton: true,
                  
                                                                          confirmButtonClass: 'btn-danger',
                  
                                                                          confirmButtonText: 'Yes, delete it!',
                  
                                                                          closeOnConfirm: false
                  
                                                                      }).then((result)=>{
                  
                                                                          if(result.value){
                  
                                                                              swal.fire('Deleted!', 'Your imaginary file has been deleted.', 'success');
                  
                                                                              location.href ='/delete-car/<%= cars.id %> '
                  
                                                                          }
                  
                                                                      })" class="btn btn-outline-danger text-red w-100 fw-bold my-2" style="font-size: 14px; border-radius: 0;"><img src="images/delete-button.png" class="me-1">Delete</button>
                  
                                                                  </div>
                  
                                                                  <div class="col">
                  
                                                                      <a href="/cars/<%= id %>/update " class="btn btn-success text-white w-100 fw-bold my-2" style="font-size: 14px; background-color: #5CB85F; border: 1px solid #5CB85F; border-radius: 0;"><img src="images/edit-button.png" class="me-1">Edit</a>
                  
                                                                  </div>
                  
                                                              </div>
                  
                                                          </div>
                  
                                                      </div>
                  
                                                  </div>
                  
                                              <% }) %>
                  
                                          </div>
                  
                                      </div>
                
              </div>
            </div>
          </div>
          
          <!-- Start Popup/Modal Delete -->
          <div class="modal fade" id="modalToogle" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
              <div class="modal-content rounded-1 px-4 pt-3 pb-1">
                <div class="modal-body d-flex flex-column align-items-center">
                  <img src="/assets/images/car-popup.png" alt="car-popup" />
                  <p class="fw-bold mt-4 text-center">Menghapus Data Mobil</p>
                  <p class="mt-3 fw-light text-center lh-base description-delete">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                  <div class="mt-4 d-flex align-items-center gap-3">
                    <form id="form-delete">
                      <input type="hidden" name="car_id">
                      <button type="submit" class="btn btn-yes fw-bold text-white" data-bs-dismiss="modal" aria-label="Close">Ya</button>
                      <button type="button" class="btn btn-no fw-bold" data-bs-dismiss="modal" aria-label="Close">Tidak</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
  </script>
  <script src="/assets/scripts/xmlhttprequest.js"></script>
  <script src="/assets/scripts/management-home.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
  </script>
  
</body>

</html>